<div class="mat-elevation-z8" id="tableField">
  <table mat-table [dataSource]="dataSource" id="display-table" matSort>

    <ng-container matColumnDef="{{cols}}" *ngFor="let cols of ELEMENT_DATA" [matColumnDef]="cols">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSortStart="desc" [disabled]="isSorting(cols)"> {{cols}} </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <p style="display: none">{{i}}</p>{{element[cols]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="ELEMENT_DATA"></tr>
    <tr mat-row *matRowDef="let row;  columns:ELEMENT_DATA ;" (click)=" cellClicked(row) " [ngClass]="{highlight:SelectedRow == row.OBJECTID}"></tr>
  </table>
  <mat-paginator #paginatorPos [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" (page)="pageEvent = pagedata($event)" [showFirstLastButtons]="true">
  </mat-paginator>
</div>