.search{
    top:0;
    right:0;
    position:absolute;
}
/*.close{
    height:20px;
    width:20px;
    top:0;
}*/
.closebtn{
    background-color:white;
   
}
.zoom-in{
    top:70px;
    left:50px;
    height:40px;
    width:40px;
    position:absolute;
}
.zoom-out{
   margin:0;
    top:120px;
    left:50px;
    height:40px;
    width:40px;
    position:absolute;
}
