
<div #mapViewNode style="height:100%;width:100%;position:relative;margin:0px; padding:2px;;"></div>
<app-table-row *ngIf="headers.length" [headers]="headers" [fieldData]="fieldData" >
</app-table-row>

<div class="container" class="search" id="textbox">
  <input type="text" placeholder=" search ex: 1234" [(ngModel)]="filterName" name="filterName" id="textValue">
  <button type="submit" class="closebtn" (click)="closeData()">
    <i class="fa fa-close"></i>
  </button>
  <button type="submit" class="searchButton" (click)="filterData($event)" id="search-bar">
    <i class="fa fa-search"></i>
  </button>
</div>
<div class = "container-fluid" class="zoom" >
  <button type="submit" class ="zoom-in" (click)="zoomIn($event)" id="zoom-in" >
    <i class="fa fa-plus"></i>
  </button>
    <button type="submit" class="zoom-out" (click)="zoomOut($event)" id="zoom-out">
      <i class="fa fa-minus"></i>
   </button>
</div>
<router-outlet>